@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic);
#adra{
  width: 55px;
  height:45px;
  position: fixed;
  top: 5px;
}
.nav a {
  color: black;
  font-family: Archivo Narrow;
  font-weight: lighter;
}
.thisnavbar{
  background-color: white;
}
.item{
  display: block;
  height: 100%;
  width: 100%;
  background-color: black;
}
#footer{
    height: 60px;
}
.text1{
  font-family: Archivo Narrow;
}
.btn{
  background: none;
  font-family: Archivo Narrow;
  color: white;
  box-shadow: none;
}
.img-circle{
  width: 260px;
	height: 260px;
  position: relative;
  top: 140px;
  left: 490px;
}
.texto{
  color: #4cbfc3;
}
.progress{
  width: 70%;
  position: relative;
  top: 500px;
  left: 15%;
}
.img-thumbnail{
  width: 100%;
	height: 40%;
  position: relative;
  top: 60px;
  left: auto;
}
.thumbnail {
  width: 180px;
  height: 180px;
  position: relative;
  top: 70px;
  left: 20%;
  background-color: black;
}
.thumbnail img{
  width: 180px;
  height: 171px;
  top: 70px;
  left: 20%;
}
.row h1{
  position: relative;
  top: 60px;
}
.row p{
  position:relative;
  top: 55px;
  text-align: justify;
}
.row-height{
  height: 40%;
}
.content h1{
  background-color: black;
  color: white;
  font-family: Archivo Narrow;
}
.content p{
  height: 20%;
  font-family: Archivo Narrow;
}
